

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #191c21;
}
a,
button {
    -webkit-transition: all .3s;
    transition: all .3s;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
ul li {
    list-style: none;
}
input[type="email"],
input[type="text"],
input[type="password"],
input[type="submit"],
textarea,
textarea:focus,
button:focus {
    outline: none;
}
form input,
form button {
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    width: auto;
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    color: #979797;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
    color: #222;
}
form input[type="submit"],
form button {
    -webkit-transition: all .3s;
    transition: all .3s;
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    background: rgba(44, 45, 49, 0.4);
    color: #fff;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#scrollUp:hover {
    color: #fff;
}
.light-bg {
    background: #fff;
}
.light-gry-bg {
    background: #f6f7f8;
}
.v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.top-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.img-responsive {
    margin: auto;
}
.parallax {
    margin-top: -1px;
}
.btn-app-store,
.btn-play-store {
    display: inline-block;
    margin: 0 10px;
}
.btn-app-store,
.btn-play-store {
    background: #fff;
    color: #222;
    position: relative;
    height: 60px;
    padding-left: 55px;
    padding-right: 20px;
    border-radius: 4px;
}
.btn-app-store:hover,
.btn-play-store:hover {
    background: #ebedef;
    color: #222;
}
.btn-app-store i,
.btn-play-store i {
    font-size: 36px;
    position: absolute;
    left: 10px;
    top: 12px;
}
.btn-app-store .small,
.btn-play-store .small {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 2px;
    margin-top: 5px;
}
.btn-app-store .big,
.btn-play-store .big {
    display: block;
    text-align: left;
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
}
.btn-2-play-store,
.btn-2-app-store {
    color: #f6f7f8;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
    padding: 12px 13px;
    border: 2px solid #FFF;
    border-radius: 20px;
}
.btn-2-play-store:hover,
.btn-2-app-store:hover {
    color: #f6f7f8;
}
.btn-2-play-store i,
.btn-2-app-store i {
    display: block;
    font-size: 30px;
    margin-bottom: 8px;
}
.btn-2-play-store span,
.btn-2-app-store span {
    display: block;
    font-size: 12px;
}



/* 02. PRELOADER STYLES
-------------------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}
.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}



/* 03. NAV MENU STYLES
-------------------------------------------------*/

.scroll-nav {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    padding: 30px 0;
    background-color: transparent;
    margin-bottom: 0;
    border-bottom: none
}
.scroll-fixed-nav {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px 0;
    -moz-box-shadow: 0 2px 8px 0 rgba(31, 31, 31, 0.1);
    -webkit-box-shadow: 0 2px 8px 0 rgba(31, 31, 31, 0.1);
    box-shadow: 0 2px 8px 0 rgba(31, 31, 31, 0.1)
}
.logo.navbar-brand {
    padding: 5px;
}
.scroll-fixed-nav .logo-white {
    display: none
}
.scroll-fixed-nav .logo-black {
    display: block !important
}
.scroll-nav .logo-black {
    display: none
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0
}
.navbar-default .navbar-nav>li>a {
    color: #f6f7f8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.scroll-fixed-nav .navbar-nav > li > a {
    color: #263246 !important
}



/* 04. HEADER 1 STYLES
-------------------------------------------------*/

.intro-text-1 {
    color: #fff;
    margin-top: 260px;
    margin-bottom: 160px;
}
.intro-text-1 img {
    margin-bottom: 30px;
}
.intro-text-1 h1 {
    color: #fff;
    font-weight: 300;
    font-size: 55px;
}
.intro-text-1 p {
    color: #b6b9bf;
    font-size: 18px;
    line-height: 30px;
}
.intro-text-1 .download-cta {
    margin-top: 90px;
}
.download-cta .or {
    font-size: 14px;
    margin: 0 15px;
    color: #929292;
}
.download-cta .link {
    font-size: 16px;
    color: #e5eeff;
}



/* 05. HEADER 2 STYLES
-------------------------------------------------*/

.header-section-2 {
    padding: 180px 0 110px 0;
}
.intro-text-2 h1 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 65px;
}
.intro-text-2 p {
    color: #b6b9bf;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
}
.intro-text-2 .download-cta a:first-child {
    margin-left: 0px;
}



/* 06. HEADER 3 STYLES
-------------------------------------------------*/

.intro-text-3 {
    padding: 300px 0 230px 0;
}
.intro-text-3 h1 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 65px;
}
.intro-text-3 p {
    color: #b6b9bf;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
}
.intro-text-3 .download-cta a:first-child {
    margin-left: 0px;
}
.header-section-3 .row {
    position: relative;
}
.header-3-img {
    position: absolute;
    height: 100%;
    width: 50%;
    bottom: 0;
    left: -7%;
}
.header-3-img img {
    position: inherit;
    bottom: 0;
}



/* 07. HEADER 4 STYLES
-------------------------------------------------*/

.header-section-4 {
    padding-top: 250px;
}
.intro-text-4 {
    margin-top: 60px;
}
.intro-text-4 h1 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    margin-top: 50px;
}
.intro-text-4 p {
    color: #b6b9bf;
    font-size: 20px;
    line-height: 30px;
}
.header-4-img {
    padding: 0 20px;
}
.header-4-button {
    margin-top: 120px;
}
.header-4-button h4 {
    font-size: 30px;
    color: #f6f7f8;
    margin-bottom: 40px;
}
.header-4-button .download-cta a:last-child {
    margin-right: 0;
}



/* 08. 3 STEPS STYLES
-------------------------------------------------*/

.how-works-section {
    padding: 120px 0;
}
.single-how-works {
    padding: 0 30px;
    position: relative;
}
.single-how-works:before {
    position: absolute;
    right: -28px;
    top: 50px;
    opacity: 0.2;
    content: url(../img/icons/workflow-next-icon.png);
}
.how-works-section .col-md-4:last-child .single-how-works:before {
    content: none;
}
.single-how-works i {
    font-size: 70px;
}
.single-how-works h3 {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 18px;
    margin-top: 40px;
}
.single-how-works p {
    font-size: 15px;
    color: #53565a;
    line-height: 24px;
}



/* 09. FEATURE 1 STYLES
-------------------------------------------------*/

.feature-section-1 {
    padding: 120px 0;
}
.section-title {
    margin-bottom: 95px;
}
.section-title h2 {
    font-size: 45px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 0px;
}
.section-title p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #71757b;
}
.single-feature-1 {
    padding: 70px 50px 0px 50px;
    ;
}
.single-feature-1 i {
    padding: 27px 30px 20px;
    border-radius: 20px;
    background: #dee6ee;
    font-size: 40px;
    line-height: 90px;
}
.single-feature-1 h3 {
    font-size: 22px;
    font-weight: 400;
    color: #000;
    margin-top: 36px;
}
.single-feature-1 p {
    font-size: 15px;
    line-height: 23px;
    color: #798394;
}
.features-1-img-container {
    padding: 0 35px;
}



/* 10. IMAGE DESCRIPTION 1 STYLES
-------------------------------------------------*/

.image-desc-section-1 {
    padding: 90px 0;
}
.img-1-text-container h2 {
    font-size: 47px;
    line-height: 62px;
    font-weight: 300;
    margin-bottom: 30px;
}
.img-1-text-container p {
    font-size: 15px;
    color: #5d6873;
    line-height: 26px;
    padding-right: 80px;
    margin-bottom: 20px;
}
.img-1-container,
.img-2-container {
    padding: 0 100px;
}



/* 11. IMAGE DESCRIPTION 2 STYLES
-------------------------------------------------*/

.image-desc-section-2 {
    padding: 90px 0;
}
.img-2-text-container h2 {
    font-size: 47px;
    line-height: 62px;
    font-weight: 300;
    margin-bottom: 30px;
}
.img-2-text-container p {
    font-size: 15px;
    color: #5d6873;
    line-height: 26px;
    padding-right: 50px;
    margin-bottom: 20px;
}



/* 12. EMAIL SUBSCRIPTION STYLES
-------------------------------------------------*/

.subscribe-section {
    padding: 100px 0;
}
.subscribe-section h2 {
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 50px;
    color: #f6f7f8;
}
.subscribe-section form {
    width: 505px;
    margin: auto;
}
.subscribe-section form input[type="email"] {
    width: 65%;
    border-radius: 3px;
    background: none;
    border: 1px solid #979797;
}
.subscribe-section form input[type="email"]:focus {
    color: #fff;
}
.subscribe-section form input[type="submit"] {
    border-radius: 3px;
    color: #f6f7f8;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 30px;
}
.subscribe-section form .subscription-success,
.subscribe-section form .subscription-error {
    display: none;
    font-size: 14px;
    font-weight: 400;
    color: #f6f7f8;
    margin-top: 15px;
}
.subscribe-section form .subscription-success .fa,
.subscribe-section form .subscription-error .fa {
    margin-right: 10px
}



/* 13. SCREENSHOT GALLERY STYLES
-------------------------------------------------*/

.screenshot-slider-1-section {
    padding: 120px 0;
}
.screen-gallery-1 {
    padding: 0 30px;
    margin-bottom: 50px
}
.screen-gallery-1 .slick-list:before,
.screen-gallery-1 .slick-list:after {
    height: 100%;
    width: 60px;
    position: absolute;
    content: "";
    background: #fff;
    top: 0;
    z-index: 1;
}
.screen-gallery-1 .slick-list:before {
    left: 0;
}
.screen-gallery-1 .slick-list:after {
    right: 0;
}
.slick-slide {
    padding: 0 8px;
}
.slick-slide img {
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scale(.95);
    transform: scale(.95);
    overflow: hidden;
    opacity: .6;
    border: 5px solid #dee6ee;
    border-radius: 5px;
}
.slick-slide.slick-center img {
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    overflow: hidden;
}
.slick-slide:focus {
    outline: none;
}
.slick-next:before {
    content: url(../img/icons/next-icon.png);
}
.slick-prev:before {
    content: url(../img/icons/prev-icon.png);
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-next,
.slick-prev {
    height: 88px;
    width: 26px;
}
.slick-prev:before,
.slick-next:before,
.slick-prev:focus::before,
.slick-next:focus::before {
    font-size: 24px;
    opacity: 0.5;
    color: #222;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.slick-prev:hover::before,
.slick-next:hover::before {
    opacity: 1;
}
.slick-dots {
    bottom: -50px;
    left: 0px
}
.slick-dots li button::before {
    font-size: 5px;
    color: #263246;
}

.dark-bg .slick-dots li button::before {
    color: #bec1c5;
}
.dark-bg .slick-dots li.slick-active button:before{
	color: #e2dede;
}


/* 14. FEATURE 2 STYLES
-------------------------------------------------*/

.feature-section-2 {
    padding: 120px 0;
}
.single-feature-2 {
    background: #fff;
    border-radius: 5px;
    padding: 45px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.single-feature-2:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.single-feature-2 i {
    font-size: 45px;
}
.single-feature-2 h3 {
    font-size: 18px;
    line-height: 30px;
    color: #263246;
    margin-top: 10px;
    font-weight: 400;
}



/* 15. VIDEO POPUP STYLES
-------------------------------------------------*/

.video-conatainer {
    padding: 100px 0
}
.video-conatainer i {
    font-size: 80px;
    color: #fff;
}
.video-conatainer h3 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 300;
}
.video-conatainer p {
    font-size: 16px;
    color: #e2e2e2;
    font-weight: 300;
    margin-bottom: 30px;
}


/* 16. TESTIMONIAL STYLES
-------------------------------------------------*/

.testimonial-section {
    padding: 120px 0;
}
.tesimonial-slider .slick-prev {
    left: -100px
}
.tesimonial-slider .slick-next {
    right: -100px
}
.tesimonial-slider {
    max-width: 700px;
    text-align: center;
    color: #263246;
    margin: 0 auto;
    padding: 40px 40px 30px 40px;
}
.tesimonial-slider .slick-slide {
    outline: none;
}
.tesimonial-slider .slick-slide p {
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #000;
}
.tesimonial-slider .slick-slide h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    color: #263246;
}
.tesimonial-slider .slick-slide h5 {
    font-size: 12px;
    font-weight: 400;
    color: #818b9b;
    margin-bottom: 0;
    margin-top: 5px;
}
.testimonial-thumbs {
    width: 550px;
    margin: 0 auto;
}
.testimonial-thumbs > div {
    margin-bottom: -10px;
}
.testimonial-thumbs .slick-slide {
    outline: none;
    padding: 20px 0;
}
.testimonial-thumbs .slick-slide img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 5px solid #ebedef;
    display: inline-block !important;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    overflow: visible;
    opacity: 0.5;
}
.testimonial-thumbs .slick-current img {
    height: 72px;
    margin-top: 0;
    opacity: 1;
    width: 72px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 1;
}



/* 17. PRICES SECTION STYLES
-------------------------------------------------*/

.price-section {
    padding: 120px 0;
}
.single-price {
    background: #fff;
    border-radius: 50%;
    padding: 30px;
}
.plan-title {
    font-size: 20px;
    font-weight: 400;
    color: #263246;
    margin-top: 10px;
}
.plan-price {
    padding: 10px 0;
}
.plan-price h4 {
    font-size: 100px;
    font-weight: 300;
    color: #263246;
    letter-spacing: -10px;
}
.plan-price h4 i {
    font-size: 25px;
    letter-spacing: 0px;
}
.plan-price h4 span {
    font-size: 30px;
    letter-spacing: 0px;
}
.single-price p {
    color: #5d6873;
    margin: 10px 0 20px 0;
}
.single-price button {
    color: #5d5e5f;
    background-color: #dee6ee;
    border-color: #dee6ee;
    padding: 10px 20px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
}
.single-price button:hover {
    color: #fff;
}
.single-price button:focus {
    outline: none
}
.featured-price.single-price button {
    color: #fff;
}



/* 18. DOWNLOAD SECTION STYLES
-------------------------------------------------*/

.download-section {
    padding: 100px 0;
}
.download-conatainer h2 {
    font-size: 45px;
    color: #f6f7f8;
    font-weight: 300;
    margin-bottom: 20px;
}
.download-conatainer h5 {
    color: #b5c0d1;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px;
}
.download-conatainer{
	margin-bottom:20px;
}


/* 19. CONTACT SECTION STYLES
-------------------------------------------------*/

.contact-form-section {
    padding: 120px 0;
}
form.contact-form .success,
form.contact-form .error {
    display: none;
    font-size: 14px;
    font-weight: 400;
}
form.contact-form .success i,
form.contact-form .error i {
    margin-right: 10px;
}
form.contact-form input[type="text"],
form.contact-form input[type="email"],
form.contact-form textarea {
    background: #fff;
    padding: 15px 20px;
    border: none;
    box-shadow: none;
    margin-bottom: 25px;
    width: 100%;
    border: 1px solid #e6eaef;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 3px;
    font-size: 14px;
    color: #747a7f;
}
form.contact-form input[type="text"]:focus,
form.contact-form input[type="email"]:focus,
form.contact-form textarea:focus {
    color: #263246;
}
form.contact-form textarea {
    resize: none;
    max-height: 140px;
}
form.contact-form button {
    border-radius: 3px;
    color: #f6f7f8;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    font-size: 15px;
    width: auto;
}
form.contact-form button:hover,
form.contact-form button:focus {
    background: #263246;
    color: #f6f7f8;
    border-color: #f6f7f8;
    outline: none;
}



/* 20. FOOTER STYLES
-------------------------------------------------*/

.footer-section {
    background: #191c21;
    padding-top: 110px;
}
.footer-container {
    margin-bottom: 70px;
}
.footer-container .social-icons {
    margin-top: 90px;
}
.footer-container .social-icons li {
    display: inline-block;
}
.footer-container .social-icons li a {
    color: #f6f7f8;
    font-size: 24px;
    margin: 0 27px
}
.copyright {
    border-top: 1px solid #2c3242;
    padding: 25px 0;
}
.copyright p {
    font-size: 14px;
    color: #8a95a8;
}
.copyright p a {
    color: #a2aab8;
}



/* 21. DARK VARIATIONS STYLES
-------------------------------------------------*/

.dark-bg {
    background: #15171b;
}
.dark-gry-bg {
    background: #191c21
}
.navbar-fixed-top.dark-bg {
    background: transparent;
}
.dark-bg.scroll-fixed-nav {
    background-color: rgba(21, 23, 27, 0.95);
    -moz-box-shadow: 0 2px 8px 0 rgba(21, 23, 27, 0.1);
    -webkit-box-shadow: 0 2px 8px 0 rgba(21, 23, 27, 0.1);
    box-shadow: 0 2px 8px 0 rgba(21, 23, 27, 0.1);
}
.dark-bg.scroll-nav .logo-black {
    display: none !important;
}
.dark-bg.scroll-fixed-nav .logo-white {
    display: block !important;
}
.dark-bg.scroll-fixed-nav .navbar-nav > li > a {
    color: #f6f7f8 !important;
}
.dark-bg .section-title h2,
.dark-gry-bg .section-title h2 {
    color: #f6f7f1;
}
.dark-gry-bg .single-how-works h3 {
    color: #f6f7f8;
}
.dark-gry-bg .single-how-works:before {
    opacity: 0.4;
}
.dark-bg .single-feature-1 i {
    background: #252c3c;
}
.dark-bg .single-feature-1 h3 {
    color: #f6f7f8;
}
.dark-gry-bg .img-1-text-container p,
.dark-bg .img-2-text-container p {
    color: #b3b3b3;
}
.dark-bg .screen-gallery-1 .slick-list:before,
.dark-bg .screen-gallery-1 .slick-list:after {
    background: #15171b;
}
.dark-bg .slick-slide img {
    border-color: #474f56;
}
.dark-gry-bg .single-feature-2 {
    background: #15171b;
}
.dark-gry-bg .single-feature-2 h3 {
    color: #f6f7f8;
}
.dark-gry-bg .single-feature-2:hover {
    box-shadow: 0 0 15px rgba(20, 22, 26, 0.3);
}
.dark-bg .tesimonial-slider .slick-slide p,
.dark-bg .tesimonial-slider .slick-slide h4 {
    color: #f6f7f8;
}
.dark-gry-bg .single-price {
    background: #15171b;
}
.dark-gry-bg .plan-title {
    color: #f6f7f8;
}
.dark-gry-bg .plan-price h4 {
    color: #f6f7f8;
}
.dark-gry-bg .single-price button {
    color: #f5f6f7;
    background-color: #303742;
    border-color: #303742;
}
.dark-gry-bg .single-price button:hover {
    color: #fff;
}
.dark-bg form.contact-form input[type="text"],
.dark-bg form.contact-form input[type="email"],
.dark-bg form.contact-form textarea {
    background: #191c21;
    border: 1px solid #212329;
}
.dark-bg form.contact-form .success,
.dark-bg form.contact-form .error,
.dark-bg form.contact-form input[type="text"]:focus,
.dark-bg form.contact-form input[type="email"]:focus,
.dark-bg form.contact-form textarea:focus {
    color: #f6f7f8;
}



/* 22. DIFFERENT HEADER BACKGROUND STYLES
-------------------------------------------------*/

.header-img-bg {
    background-image: url(../img/bg/header-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-solid-bg {
    background: #0F5B5E;
}
.header-gradient-bg {
    background: rgba(0, 51, 102, 1);
    background: -moz-linear-gradient(top, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 51, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 51, 102, 1)), color-stop(100%, rgba(0, 51, 51, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 51, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 51, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 51, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#003333', GradientType=0);
}
#youtube-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    background-image: url(../img/bg/youtube-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#youtube-bg:after {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}